* {
    margin: 0;
    padding: 0;
}

.container-fluid {
    justify-content: center;
}


.logonav {
    width: 50px;
}

body {
    background-image: url(../img/fondo/fondo.jpg);
}
.container {
    background-color: #ffc1d5;
}

.texto {
    padding: 2rem;
    text-align: center;
    font-size: 1rem;
}

.titulo {
    width: 90%;
    margin: 5%;
}

.carousel {
    padding: 5%;
}

i {
    font-size: xx-large;
    color: #ffc1d5;
    margin: 1rem;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.video {
        display: flex;
        justify-content: center;
        padding-bottom: 10%;
}

.vid {
    max-width: 720px;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calendario {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a img:hover {
    transform: scale(2,2);
}

a:hover {
    font-weight: bold;
}

a i:hover  {
    font-size: 4rem;
}

@media screen and (min-width: 992px) {
    .container {
        width: 900px;
    } 
}

@media screen and (max-width: 992px) {
    .grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .vid {
        max-width: 100%;
    }

    .calendario iframe {
        max-width: 100%;
    }
}

