@media screen and (min-width: 992px) {
    .container {
        width: 900px;
    } 
}

@media screen and (max-width: 992px) {
    .grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .vid {
        max-width: 100%;
    }

    .calendario iframe {
        max-width: 100%;
    }
}
