footer {
    position: relative;
    bottom: 0;
    width: 100%;
    section {
        background-color: map-get($colores, gris );
    }
    .text-center {
        background-color: map-get($colores, claro);
    }
}

i {
    font-size: xx-large;
    color: map-get($colores, rosa);
    margin: 1rem;
    &:hover {
        font-size: 4rem;
    }
}